.home-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white
}

.profile-info{
 width: 100%;
}

.profile-job-posts{
    width: 100%;
}