.side-nav{
    position: fixed;
    bottom: 70vh;
    background-color: white;
    border: #ccc 1px solid;
    display: flex;
    flex-direction: column;
  }
  
  .side-nav button{
    padding: 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  #active{
    background-color: #f4f4f4;
  }

  @media screen and (max-width: 850px) {
    .side-nav{
      position: fixed;
      bottom: 0;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
  }