/* containing all info */
.user-profile-container{
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.user-information, .photo-gallery{
    width: 100%;
 
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: #ddd 1px solid;
    box-shadow: 0px 0px 8px #ddd;
    justify-content: space-evenly;
}

.user-picture{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
}

.user-picture img{
    height: 90%;
    border-radius: 15px;
}

.user-details{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}
.full-name{
    font-size: 24px;
    font-weight: 800;
}
.email, .phone{
    font-size: 24px;
    font-weight: 400;
}

.cook-specialty, .cook-description, .cook-price{
    font-size: 18px;
    padding: 20px;
}

.cook-details{
    width: 100%;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.book-btn{
    border: none;
    background-color: rgb(97, 176, 212);
    width: 100px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #888;
    font-weight: 800;
    cursor: pointer;
}

#book-form{

    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    visibility: hidden;
}

