.cookPrice{
    color: green;
}
.profile{
    background-color: white;
    width: 90%;
    border-radius: 3px;
    max-width: 1000px;
    margin: 5px;
    padding: 20px;
    border: #ccc 1px solid;
    /* boxShadow: '2px 2px 4px black' */
  }

  .cookName{
    padding: 10px 0px;
    margin-left: 10px;
    text-align: center;
  }
  
  .pictureDiv {
    height:60px;
    width: 60px;
    background-color: black;
  }
  .picture {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    object-fit: cover;
  }

  .cookDescription p{
    margin-bottom: 10px;
  }

  .contact-btn{
    text-decoration: none;
    padding: 5px;
    background-color: rgb(110, 174, 216);
    color: black;
    border-radius: 6px;
    font-weight: 400;
    box-shadow: 1px 1px 4px #333;
    
  }
