.greeting{
    margin-top:20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: #ddd 1px solid;
    box-shadow: 0px 0px 8px #ddd;

}

.home-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile-info{
 width: 100%;
}

.sum-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: #ddd 1px solid;
}

.job-post-container{
    width: 100%;
    max-width: 400px;
    margin-top: 20px;

}
 
.events-header{
    width: 100%;
    text-align: center;
    
}

.job-post-header, .events-header{
    padding: 20px;
}

.job-post-header, .profile-job-posts, .events-header{
    width: 100%;
    text-align: center;
    background-color: white;
    border: #ddd 1px solid;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 8px;
    margin-top: 10px;

}

.cook-name{
    text-align: right;
    font-weight: 400; 
    color: rgb(39, 54, 39);
}

.events-container{
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 8px;  
}
.post-num{
    color: green;
    
}

.cook-list{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    height: 0px;
}

.cook-name-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.links{
    padding: 10px;
    color: rgb(13, 73, 151);
    text-align: right;
}
.count-applied{
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.applications, .summary{
    padding: 20px;
}

.sum-container{
    cursor: pointer;
}