.my-orders-container{
    position: relative;
}

.my-orders-container table{
    margin-top: 20px;
    background-color: white;    
    box-shadow: 0px 0px 8px #ddd;
    text-align: center;
}

.my-orders-data{
    position: relative;
    margin: auto;
}