.nav-bar-overlay{
    position: sticky;
    z-index: 100;
    top: 0;
    background: linear-gradient(0.25turn, #a63f3f, #72cf72, #3ca2f6);
    height: 65px;
    box-shadow: 0px 1px 6px #333;
  }
  
  .nav-bar{
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
    height: 70px;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  
  li {
    float: right;
  }
  
  li a, li button{
    display: block;
    color: #333;
    text-align: center;
    padding: 23px;
    text-decoration: none;
  }
  .active{
    background-color: #f4f4f4;
    box-shadow: 0px 2px 4px #333;
    box-shadow: 0px -2px 4px #333;
    text-transform: uppercase;
  }

  .logout-btn{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: rgb(153, 26, 26);
    cursor: pointer;
  }


  @media only screen and (max-width: 700px) {
    .logout-btn {
      background-color: lightblue;
    }
  }