
.profile-container{
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    margin:20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0px 0px 8px #aaa;
}
.user-info{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile-form{
    width: 90%;
}

.profile-form h2{
    text-align: center;
}

.profile-picture{
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.update-img-btn{
    border: none;
    background-color: rgb(115, 176, 211);
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 8px 8px;
    cursor: pointer;
}

.profile-picture img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}


.profile-about{
    height: 400px;
    padding: 10px;
    /* width: 600px; */
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.cook-about{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.cook-information{
    visibility: hidden;
    height: 0px;
}

.cook-input, .user-input{
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
    border-radius: 6px;
    border: #ddd 1px solid;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .cook-input input, .cook-input textarea, .cook-input label{
    float: right;
} */



.user-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.submitButton{
    width: 100%;
}

.user-input{
    border: #ddd 1px solid;
}

.user-update-btn{
    width: 150px;
    height: 50px;
    border: none;
    background-color: rgb(115, 165, 212);
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
}




/* slider */

.cook-toggle{
    display: flex;
    justify-content: flex-end;

}

.toggle-text{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .images{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .photo{
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      border: black 1px solid;
      border-radius: 8px;
      background-color: black;
      box-shadow: #aaa 0px 0px 8px;
  }

  .photo img{
    width: 250px;
    height: 250px;
    object-fit: contain;
  }